@charset "utf-8";
/* CSS Document */

body{
    background-color: #ebe6d7 !important;
}


.ourstudio-main-header{
    height: 80px;
    padding-top: 18px;
    border-bottom: 1px solid var(--shading2);
}
.ourstudio-main-header p{
    color: var(--dark);
    text-align: center;
}

.sub1-pc{
    font-family: subfont;
    font-size: 16px;
    line-height: 19px;
    color: var(--shading2);
    width: 70%;
    margin: auto;
    text-transform: uppercase;
}

/*--------------------OUR WOODSHOP-PC---------------------------*/
.blog-ft-pc{
    padding: 0;
    height: 700px;
    display: flex;
}

.left-part, .right-part{
    width: 50%;
}

.left-part{
    height: inherit;
    display: flex;
}

.left-part .left-title{
    height: inherit;
    width: 80px;
    white-space: nowrap;
    display: flex;
    align-items: end;
    border-right: 1px solid var(--shading2);
}

.left-part .left-title p{
    color: var(--dark);
    transform: rotate(-90deg) translate(130px, -90px);
}

.left-part .left-text{
    width: 100%;
}

.left-part .top-left{
    padding-top: 8px;
    padding-left: 30px;
    width: 100%;
    height: 40px;
    border-bottom: var(--shading2) 1px solid;
   
}

.bottom-left{
    height: 650px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.bottom-left .blog-ft-title{
    width: 100%;
}


.bottom-left .blog-ft-title h2{
    color: var(--primary);
}

.bottom-left .blog-ft-content{
    width: 100%;
}

.bottom-left .blog-ft-content p{
    color: var(--dark);
    margin-bottom: 0px;
    font-size: 16px;
}

.right-part{
    border-left: 1px solid var(--shading2);
    height: 100%;
}


.right-part .top-right{
    text-align: right;
    padding-top: 8px;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid var(--shading2);
    font-size: 16px;
}

.right-part .top-right p{
    font-family: subfont;
    color: var(--primary);
    text-transform: uppercase;
    font-size: 16px;
}

.bottom-right{
    height: 660px;
    width: 100%;
    padding: 30px;
}

.bottom-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*---------------------OUR WOODSHOP Feature Mobile---------------------------*/
.blog-ft-mb{
    padding: 0px 0px 30px 0px;
    border-bottom: 1px solid var(--shading2);
}

.blog-ft-mb .top-part{
    overflow: hidden;
    height: 40px;
    
    border-bottom: 1px solid var(--shading2);
}

.top-part .top-left-mb{
    width: 50%;
    border-right: 1px solid var(--shading2);
}


.top-part .top-right-mb p{
    margin-top: 8px;
    font-family: subfont;
    color: var(--primary);
    text-transform: uppercase;
    text-align: right;
    font-size: 16px;
}

.img-ft-mb{
    padding: 30px 0px;
    height: 400px;
}

.img-ft-mb img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.blog-ft-content-mb h2{
    color: var(--primary);
    margin-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

.blog-ft-content-mb p{
    margin-top: 24px;
    margin-bottom: 24px;
}

/*--BREADCRUMB--*/

.breadcrumbb{
    height: inherit;
    padding-top: 0px;
    

}


