@charset "utf-8";
/* CSS Document */

body{
    background-color: #EBE6D7 !important;
}

/*----------------------------Color Guide ---------------------------*/
:root{
    --primary: #616432;
    --secondary: #EBE6D7;
    --shading1: #81835C;
    --shading2: #A1A285;
    --shading3: #E0E0D6;
    --white: #ffffff;
    --dark: #2E2E2E;
    --text: #717171;
    --disable: #B8BEC5;
    --danger: #FF5A4F;
    --success: #84DFC1;
    --warning: #FFD596;
}

/*----------------------------CSS Font ---------------------------*/
@font-face{
    font-family: displayfont;
    src: url(../font/NeueWorld-CondensedRegular.ttf),
        url(../font/NeueWorld-CondensedRegular.eot),
        url(../font/NeueWorld-CondensedRegular.woff);
}

@font-face{
    font-family: titlefont;
    src: url(../font/Priego-Bold.ttf),
        url(../font/Priego-Bold.eot),
        url(../font/Priego-Bold.woff);
}


@font-face{
    font-family: bodyfont;
    src: url(../font/Manrope-Regular.ttf),
        url(../font/Manrope-Regular.eot),
        url(../font/Manrope-Regular.woff);
}

@font-face{
    font-family: subfont;
    src: url(../font/Priego-SemiBold.ttf),
        url(../font/Priego-SemiBold.eot),
        url(../font/Priego-SemiBold.woff);
}

@font-face{
    font-family: captionfont;
    src: url(../font/Manrope-Medium.ttf),
        url(../font/Manrope-Medium.eot),
        url(../font/Manrope-Medium.woff);
}

/*----------------------------Font Format ---------------------------*/
body{
    font-family: bodyfont !important;
    font-size: 16px !important;
    line-height: 19px !important;
}

h1, h2, h3, h4, h5, h6{
    font-family: titlefont;
}

h1{
    font-size: 40px !important;
    line-height: 48px !important;
}

h2{
    font-size: 32px !important;
    line-height: 39px !important;
}

h3{
    font-size: 28px !important;
    line-height: 34px !important;
}

h4{
    font-size: 24px !important;
    line-height: 29px !important;
}

h5{
    font-size: 20px !important;
    line-height: 24px !important;
}

.display1-pc{
    font-family: displayfont;
    font-size: 90px;
    line-height: 90px;
}

.display2-pc{
    font-family: displayfont;
    font-size: 82.5px;
    line-height: 82px;
}

.display3-pc{
    font-family: displayfont;
    font-size: 67.5px;
    line-height: 67px;
}

.display4-pc{
    font-family: displayfont;
    font-size: 52.5px;
    line-height: 52px;
}


/*---------------------Header & Navigation---------------------*/
#header-desktop{
    height: 80px;
    border-bottom: solid 1px var(--shading2);
}
.header-row{
    height: 80px;
}

.left-navi{
    display: flex;
    align-items: center;
}

.burger-menu{
    width: 35px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.barline{
    position: relative;
    width: 35px;
    height: 2px;
    background-color: var(--primary);
}

.barline::before{
    content:'';
    position: absolute;
    right: 0px;
    width: 20px;
    height: 1px;
    background-color: var(--primary);
    transition: all .3s ease;
}

.barline::after{
    content:'';
    position: absolute;
    width: 20px;
    height: 1px;
    background-color: var(--primary);
    transition: all .3s ease;
}

.barline::before{
    transform: translateY(8px);
}

.barline::after{
    transform: translateY(-8px);
}

.burger-menu:hover .barline::before{
    width: 35px;
    height: 2px;
    transition: all .3s ease;
}

.burger-menu:hover .barline::after{
    width: 35px;
    height: 2px;
    transition: all .3s ease;
}

.left-navi a{
    color: var(--primary);
    font-family: subfont;
    text-decoration: none;
    font-size: 18px;
    margin-left: 24px;
    transition: all ease .3s;

}

.left-navi a:hover{
    letter-spacing: 3px;
    transition: all ease .3s;
}

.center-navi{
    text-align: center;
}

.right-navi{
    height: 80px;
    outline: red dashed 1px;
}

.right-navi ul{
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.right-navi ul li a{
    text-decoration: none;
    font-family: subfont;
    font-size: 18px;
    color: var(--primary);
}

.cart-count{
    height: 30px;
    width: 30px;
    background-color: var(--primary);
    border-radius: 50%;
    color: var(--secondary);
    padding-left: 8px
}


/*-----------------------------------MEDIA QUERY-------------------------------*/

/*---------------------Extra Large---------------------*/
@media (min-width: 1200px) {
    h6{
        font-size: 16px !important;
        line-height: 19px !important;
    }





}
/*-----------------------Large-------------------------*/
@media (max-width: 1199px) and (min-width: 992px) {
    h6{
        font-size: 16px !important;
        line-height: 19px !important;
    }





}
/*-----------------------Medium------------------------*/
@media (max-width: 991px) and (min-width: 768px) {
    h6{
        font-size: 16px !important;
        line-height: 19px !important;
    }





}
/*------------------------Small------------------------*/
@media (max-width: 767px) and (min-width: 576px) {
    h6{
        font-size: 18px !important;
        line-height: 22px !important;
    }

    body{
        font-size: 18px !important;
        line-height: 22px !important;
    }

    .display1-mb{
        font-family: displayfont;
        font-size: 69px;
        line-height: 70px;
    }
    
    .display2-mb{
        font-family: displayfont;
        font-size: 63.5px;
        line-height: 64px;
    }
    
    .display3-mb{
        font-family: displayfont;
        font-size: 52.5px;
        line-height: 53px;
    }
    
    .display4-mb{
        font-family: displayfont;
        font-size: 40.5px;
        line-height: 41px;
    }


}
/*---------------------Extra Small---------------------*/
@media (max-width: 575px) {
    h6{
        font-size: 18px !important;
        line-height: 22px !important;
    }

    body{
        font-size: 18px !important;
        line-height: 22px !important;
    }

    .display1-mb{
        font-family: displayfont;
        font-size: 69px;
        line-height: 70px;
    }
    
    .display2-mb{
        font-family: displayfont;
        font-size: 63.5px;
        line-height: 64px;
    }
    
    .display3-mb{
        font-family: displayfont;
        font-size: 52.5px;
        line-height: 53px;
    }
    
    .display4-mb{
        font-family: displayfont;
        font-size: 40.5px;
        line-height: 41px;
    }





}