@charset "utf-8";
/* CSS Document */

body{
    background-color: #EBE6D7 !important;
}

/*----------------------------CSS Font ---------------------------*/
@font-face{
    font-family: displayfont;
    src: url(../font/NeueWorld-CondensedRegular.ttf),
        url(../font/NeueWorld-CondensedRegular.eot),
        url(../font/NeueWorld-CondensedRegular.woff);
}

@font-face{
    font-family: titlefont;
    src: url(../font/Priego-Bold.ttf),
        url(../font/Priego-Bold.eot),
        url(../font/Priego-Bold.woff);
}


@font-face{
    font-family: bodyfont;
    src: url(../font/Manrope-Regular.ttf),
        url(../font/Manrope-Regular.eot),
        url(../font/Manrope-Regular.woff);
}

@font-face{
    font-family: subfont;
    src: url(../font/Priego-SemiBold.ttf),
        url(../font/Priego-SemiBold.eot),
        url(../font/Priego-SemiBold.woff);
}

@font-face{
    font-family: captionfont;
    src: url(../font/Manrope-Medium.ttf),
        url(../font/Manrope-Medium.eot),
        url(../font/Manrope-Medium.woff);
}

/*----------------------------Font Format ---------------------------*/
body{
    font-family: bodyfont !important;
}

h1, h2, h3, h4, h5, h6{
    font-family: titlefont;
}

h1{
    font-size: 40px !important;
    line-height: 48px !important;
}

h2{
    font-size: 32px !important;
}

h3{
    font-size: 28px !important;
}

h4{
    font-size: 24px !important;
}

h5{
    font-size: 20px !important;
}