@charset "utf-8";
/* CSS Document */


/* --------------------HERO BANNER --------------------*/
.hero-banner{
    position:relative;
    top: -80px;
    height: 100vh;
    background-image: url(../img/Home-Banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    display: flex;
    align-items: center;
    z-index: 1;
}

.hero-banner p{
    color: var(--white);
    text-align: center;
    margin-bottom: 30px;
}

.hero-banner a{
    padding-left: 43px;
    padding-right: 43px;
}

/* --------------------ABOUT SECTION --------------------*/
.about-etienne{
    height: 900px;
    display: flex;
    align-items: center;
    position: relative;
}

.about-info{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-title p{
    margin-bottom: 0px;
}

.about-content p{
    margin-bottom: 24px;
}

















/*-----------------------------------MEDIA QUERY-------------------------------*/

/*---------------------Extra Large---------------------*/
@media (min-width: 1200px) {
    .about-title{
        width: 45%;
    }

    .about-content{
        width: 45%;
    }

    .about-img-01{
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -10;
        width: 350px;
        height: 260px;
    }
    
    .about-img-01 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    
    .about-img-02{
        position: absolute;
        top: 7%;
        left: 15%;
        z-index: -9;
        width: 255px;
        height: 240px;
    }
    
    .about-img-02 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .about-img-03{
        position: absolute;
        top: 12%;
        right: 12%;
        z-index: -8;
        width: 255px;
        height: 205px;
    }
    
    .about-img-03 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .about-img-04{
        position: absolute;
        top: 65%;
        left: 0%;
        transform: translateY(-50%);
        z-index: -7;
        width: 515px;
        height: 375px;
    }
    
    .about-img-04 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .about-img-05{
        position: absolute;
        top: 60%;
        right: 0px;
        transform: translateY(-50%);
        z-index: -6;
        width: 275px;
        height: 335px;
    }
    
    .about-img-05 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .about-img-06{
        position: absolute;
        bottom:0px;
        left: 50%;
        transform: translateX(-25%);
        z-index: -6;
        width: 445px;
        height: 315px;
    }
    
    .about-img-06 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    
}



/*-----------------------Large-------------------------*/
@media (max-width: 1199px) and (min-width: 992px) {
    .hero-banner p{
        font-size: 67.5px;
    }

    .about-title{
        width: 60%;
    }

    .about-content{
        width: 60%;
    }

    .about-img-01{
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -10;
        width: 320px;
        height: 235px;
    }
    
    .about-img-01 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    
    .about-img-02{
        position: absolute;
        top: 15%;
        left: 8%;
        z-index: -9;
        width: 230px;
        height: 215px;
    }
    
    .about-img-02 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .about-img-03{
        position: absolute;
        top: 12%;
        right: 5%;
        z-index: -8;
        width: 235px;
        height: 180px;
    }
    
    .about-img-03 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .about-img-04{
        position: absolute;
        top: 65%;
        left: 0%;
        transform: translateY(-50%);
        z-index: -7;
        width: 365px;
        height: 265px;
    }
    
    .about-img-04 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .about-img-05{
        position: absolute;
        top: 60%;
        right: 0px;
        transform: translateY(-50%);
        z-index: -6;
        width: 225px;
        height: 275px;
    }
    
    .about-img-05 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .about-img-06{
        position: absolute;
        bottom:0px;
        left: 50%;
        transform: translateX(-25%);
        z-index: -6;
        width: 300px;
        height: 205px;
    }
    
    .about-img-06 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    
}


/*-----------------------Medium------------------------*/
@media (max-width: 991px) and (min-width: 768px) {

    .about-title{
        width: 85%;
    }

    .about-content{
        width: 85%;
    }

    .about-img-01{
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -10;
        width: 320px;
        height: 235px;
    }
    
    .about-img-01 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    
    .about-img-02{
        position: absolute;
        top: 15%;
        left: 0;
        z-index: -9;
        width: 182px;
        height: 215px;
    }
    
    .about-img-02 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .about-img-03{
        position: absolute;
        top: 12%;
        right: 0;
        z-index: -8;
        width: 140px;
        height: 190px;
    }
    
    .about-img-03 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .about-img-04{
        position: absolute;
        top: 65%;
        left: 0%;
        transform: translateY(-50%);
        z-index: -7;
        width: 260px;
        height: 265px;
    }
    
    .about-img-04 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .about-img-05{
        position: absolute;
        top: 60%;
        right: 0px;
        transform: translateY(-50%);
        z-index: -6;
        width: 190px;
        height: 260px;
    }
    
    .about-img-05 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .about-img-06{
        position: absolute;
        bottom:0px;
        left: 50%;
        transform: translateX(-25%);
        z-index: -6;
        width: 270px;
        height: 205px;
    }
    
    .about-img-06 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}

/*------------------------Small------------------------*/
@media (max-width: 767px) and (min-width: 576px) {

    .about-etienne{
        height: 800px;
    }

    .about-title{
        width: 90%;
    }

    .about-title p{
        font-size: 52.5px;
    }

    .about-content{
        width: 85%;
    }

    .about-img-01{
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -10;
        width: 265px;
        height: 200px;
    }
    
    .about-img-01 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    
    .about-img-02{
        position: absolute;
        top: 15%;
        left: 0;
        z-index: -9;
        width: 100px;
        height: 215px;
    }
    
    .about-img-02 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .about-img-03{
        position: absolute;
        top: 12%;
        right: 0;
        z-index: -8;
        width: 80px;
        height: 190px;
    }
    
    .about-img-03 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .about-img-04{
        position: absolute;
        top: 65%;
        left: 0%;
        transform: translateY(-50%);
        z-index: -7;
        width: 150px;
        height: 265px;
    }
    
    .about-img-04 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .about-img-05{
        position: absolute;
        top: 60%;
        right: 0px;
        transform: translateY(-50%);
        z-index: -6;
        width: 120px;
        height: 205px;
    }
    
    .about-img-05 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .about-img-06{
        position: absolute;
        bottom:0px;
        left: 30%;
        z-index: -6;
        width: 270px;
        height: 205px;
    }
    
    .about-img-06 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}

/*---------------------Extra Small---------------------*/
@media (max-width: 575px) {

    .about-etienne{
        height: 800px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .about-title p{
        font-size: 52.5px; 
         text-shadow: 1px 1px 3px var(--dark);
    }

    .about-content{
        width: 90%;
    }

    .hero-banner p{
        font-size: 67.5px;
    }

    .about-etienne{
        height: 800px;
    }

    .about-img-01{
        position: absolute;
        top: 0px;
        left: 52%;
        transform: translateX(-50%);
        z-index: -10;
        width: 265px;
        height: 200px;
    }
    
    .about-img-01 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    
    .about-img-02{
        position: absolute;
        top: 15%;
        left: 0;
        z-index: -9;
        width: 100px;
        height: 215px;
    }
    
    .about-img-02 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .about-img-03{
        position: absolute;
        top: 12%;
        right: 0;
        z-index: -8;
        width: 80px;
        height: 190px;
    }
    
    .about-img-03 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .about-img-04{
        position: absolute;
        top: 65%;
        left: 0%;
        transform: translateY(-50%);
        z-index: -7;
        width: 150px;
        height: 265px;
    }
    
    .about-img-04 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .about-img-05{
        position: absolute;
        top: 60%;
        right: 0px;
        transform: translateY(-50%);
        z-index: -6;
        width: 120px;
        height: 205px;
    }
    
    .about-img-05 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .about-img-06{
        position: absolute;
        bottom:0px;
        left: 35%;
        z-index: -6;
        width: 200px;
        height: 205px;
    }
    
    .about-img-06 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}