@charset "utf-8";
/* CSS Document */


/* --------------------HERO BANNER --------------------*/
.hero-banner{
    position:relative;
    top: -80px;
    height: 100vh;
    background-image: url(../img/Home-Banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    display: flex;
    align-items: center;
    z-index: 1;
}

.hero-banner p{
    color: var(--white);
    text-align: center;
    margin-bottom: 30px;
}

.hero-banner a{
    padding-left: 43px;
    padding-right: 43px;
}

/* --------------------ABOUT SECTION --------------------*/
.about-etienne{
    height: 900px;
    display: flex;
    align-items: center;
    position: relative;
}

.about-info{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-title p{
    margin-bottom: 0px;
}

.about-content p{
    margin-bottom: 24px;
}

/* --------------------Category Desktop SECTION --------------------*/
.category-section{
    margin-top: 80px;
    padding: 0;
}

.category-title{
    height: 80px;
    border-top: solid 1px var(--shading2);
    border-bottom: solid 1px var(--shading2);
    text-align: center;
}

.category-title p{
    text-transform: uppercase;
    color: var(--dark);
    margin-top: 20px;
    margin-bottom: 0px;
    transition: all ease .3s;

}


.category-link{
    text-decoration: none;
    color: var(--dark);
}

.category-card:hover .category-link{
    color: var(--secondary);
    text-decoration: none;
}

.category-card{
    height: inherit;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.category1, .category2, .category3{
    border-right: 1px solid var(--shading2);
}

.category-list ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.category-list ul li{
    display: flex;
    margin-top: 8px;
}

.category-list ul li a{
    text-decoration: none;
    font-family: subfont;
    font-size: 18px;
    color: var(--shading2);
}

.category-list ul li a::after{
    content: '';
    height: 1.5px;
    width: 0%;
    background-color: var(--secondary);
    display: block;
    transition: all ease .5s;
}

.category-list ul li:hover a::after{
    height: 1.5px;
    width: 100%;
    transition: all ease .5s;
}


.catergory-number{
    margin-top: 50px;
}

.catergory-number p{
    font-family: superfont;
    font-size: 400px;
    color: var(--primary);
    transition: all ease .3s
}

.category1::before{
    content: '';
    background: url('../img/Category1.jpg') 
            no-repeat right center/cover;
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    visibility: hidden;
    opacity: 0;
    transition: all ease-out .5s;
    
}

.category2::before{
    content: '';
    background: url('../img/Category2.jpg') 
            no-repeat left center/cover;
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    visibility: hidden;
    opacity: 0;
    transition: all ease-out .5s;
    
}

.category3::before{
    content: '';
    background: url('../img/Category3.jpg') 
            no-repeat right center/cover;
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    visibility: hidden;
    opacity: 0;
    transition: all ease-out .5s;
    
}

.category4::before{
    content: '';
    background: url('../img/Category4.jpg') 
            no-repeat center center/cover;
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    visibility: hidden;
    opacity: 0;
    transition: all ease-out .5s;
    
}

.category1:hover::before{
    background: url('../img/Category1.jpg') 
    no-repeat center center/cover;
    visibility: visible;
    opacity: 1;
    transition: all ease-out .6s;
}

.category2:hover::before{
    background: url('../img/Category2.jpg') 
    no-repeat center center/cover;
    visibility: visible;
    opacity: 1;
    transition: all ease-out .6s;

}

.category3:hover::before{
    background: url('../img/Category3.jpg') 
    no-repeat center center/cover;
    visibility: visible;
    opacity: 1;
    transition: all ease-out .6s;
}

.category4:hover::before{
    background: url('../img/Category4.jpg') 
            no-repeat right center/cover;
    visibility: visible;
    opacity: 1;
    transition: all ease-out .6s;
}

.category1:hover .category-list p{
    color: var(--secondary);
    transition: all ease .3s
}

.category1:hover .catergory-number p{
    color: var(--secondary);
    transition: all ease .3s
}

.category1:hover .category-list ul li a{
    color: var(--white);
    transition: all ease .3s
}

.category2:hover .category-list p{
    color: var(--secondary);
    transition: all ease .3s
}

.category2:hover .catergory-number p{
    color: var(--secondary);
    transition: all ease .3s
}

.category2:hover .category-list ul li a{
    color: var(--white);
    transition: all ease .3s
}

.category3:hover .category-list p{
    color: var(--secondary);
    transition: all ease .3s
}

.category3:hover .catergory-number p{
    color: var(--secondary);
    transition: all ease .3s
}

.category3:hover .category-list ul li a{
    color: var(--white);
    transition: all ease .3s
}

.category4:hover .category-list p{
    color: var(--secondary);
    transition: all ease .3s
}

.category4:hover .catergory-number p{
    color: var(--secondary);
    transition: all ease .3s
}

.category4:hover .category-list ul li a{
    color: var(--white);
    transition: all ease .3s
}


/*---------------------Category Section Mobile---------------------*/

.category-section-mb{
    margin-top: 56px;
    padding: 0;
}

.category-card-mb{
    padding: 30px 0px;
    display: flex;
    align-items: center;
}

.category1-mb, .category2-mb, .category3-mb{
    border-bottom: 1px solid var(--shading2);
}

.category-card-mb .category-number-mb{
    font-family: titlefont;
    font-size: 20px;
    color: var(--dark);
    margin-right: 30px;
}

.catergory-flex-mb{
    display: flex;
}

.category-link-mb .display4-mb{
    color: var(--dark);
}

.category-link-mb .display4-mb:hover{
    text-decoration: none;
}

.category-link-mb ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.category-link-mb ul li{
    font-size: 12px;
    margin-right: 8px;
}

.category-link-mb ul li i{
    color: var(--shading1);
    position: relative;
    top: 1px;
}

.category-link-mb ul li a{
    font-family: subfont;
    font-size: 16px;
    color: var(--shading1);
}

.category-link-mb ul li a:hover{
    text-decoration: none;
}



/*----------------------------Lookbook Desktop---------------------------*/

.main-section{
    padding: 0px;
    background-color: var(--primary);
    height: 900px;
    display: flex;
}

.left-section{
    height:inherit;
    width: 50%;
    display: flex;
    border-right: 1px solid var(--shading2);
}

.right-section{
    height:inherit;
    width: 50%;
}

.left-title{
    height: inherit;
    width: 80px;
    display: flex;
    align-items: end;
    border-right: 1px solid var(--shading2);
}

.left-title p{
    color: var(--secondary);
    transform: rotate(-90deg) translate(70px, -50px);
}


.left-content{
    height: inherit;
    text-align: center;
    padding-top: 48px;
    padding-bottom: 65px;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.left-content .content-info{
    width: 60%;
}

.left-content .content-info p{
    margin-bottom: 40px;
}

.right-section{
    padding: 30px 0px;
}

.upper-section{
    height: 40px;
    border-top: 1px solid var(--shading2);
    border-bottom: 1px solid var(--shading2);
    display: flex;
    overflow: hidden;
}

.upper-left{
    padding-left: 30px;
    width: 50%;
    height: inherit;
    border-right: 1px solid var(--shading2);
}

.upper-left p{
    color: var(--secondary);
    font-family: subfont;
    margin-top: 10px;
}

.upper-right{
    width: 50%;
    height: inherit;
    padding-right: 30px;
}

.upper-right p{
    text-align: right;
    color: var(--secondary);
    font-family: subfont;
    margin-top: 10px;
}

.img-section{
    padding: 30px;
    height: 670px;
    border-bottom: 1px solid var(--shading2);
}

.main-img{
    padding: 30px 30px 0px 30px;
    height: 80%;
    background: var(--secondary);
}

.main-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-info{
    padding: 16px 30px 0px 30px;
    height: 20%;
    background-color: var(--secondary);
    display: flex;
    justify-content: space-between;
}

.img-section .img-info a{
    font-family: subfont;
    color: var(--shading1);
}

.img-section .img-info a::after{
    content: '';
    height: 1.5px;
    width: 0%;
    background-color: var(--primary);
    display: block;
    transition: all ease .5s;
}

.img-section .img-info a:hover{
    color: var(--primary);
    text-decoration: none;
}

.img-section .img-info a:hover::after{
    width: 100%;
    transition: all ease .5s;
}

.data-section{
    padding: 10px 30px 0 30px;
    height: 40px;
    border-bottom: 1px solid var(--shading2);
    display: flex;
    justify-content: space-between;
}

.data-section p{
    text-transform: uppercase;
    font-family: subfont;
    color: var(--secondary);
}




/*----------------------------Lookbook Mobile---------------------------*/
.main-section-mb{
    padding: 30px 0px 30px 0px;
    background-color: var(--primary);
}

.main-section-mb .title-mb{
    border-top: 1px solid var(--shading2);
    border-bottom: 1px solid var(--shading2);
    height: 80px;
}

.main-section-mb .title-mb p{
    color: var(--secondary);
    text-align: center;
    margin-top: 20px;
}

.main-section-mb .info-mb{
    text-align: center;
    margin-bottom: 40px;
}


.main-section-mb .info-mb p{
    margin: 30px auto;
    color: var(--secondary);
    text-align: center;
    width: 80%;
}

.upper-section-mb{
    height: 40px;
    border-top: 1px solid var(--shading2);
    border-bottom: 1px solid var(--shading2);
    overflow: hidden;
}

.hidden-upper-section{
    overflow: hidden;
}

.upper-left-mb{
    height: inherit;
    border-right: 1px solid var(--shading2);
}

.upper-left-mb p{
    color: var(--secondary);
    font-family: subfont;
    margin-top: 10px;
}

.upper-right-mb{
    height: inherit;
}

.upper-right-mb p{
    text-align: right;
    color: var(--secondary);
    font-family: subfont;
    margin-top: 10px;
}

.lower-section-mb{
    padding: 0px;
    height: 40px;
    border-bottom: 1px solid var(--shading2);
}

.data-section-mb-left{
    margin-top: 10px;
    font-family: subfont;
    color: var(--secondary);
}

.data-section-mb-left p{
    text-transform: uppercase;
}

.data-section-mb-right{
    margin-top: 10px;
    font-family: subfont;
    color: var(--secondary);
}

.data-section-mb-right p{
    text-align: right;
    text-transform: uppercase;
}

.img-section-mb{
    padding-bottom: 30px;
    background-color: var(--primary);
}

.main-img-mb{
    padding: 30px 30px 0 30px;
    height: 570px;
    background-color: var(--secondary);
}

.main-img-mb img{
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.img-info-mb{
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
}

.img-info-mb a{
    font-family: subfont;
    color: var(--shading1);
}

.img-info-mb a:hover{
    text-decoration: none;
}

/*----------------FEATURED PRODUCT---------------------------*/
.product-ft{
    background-color: var(--primary);
    padding: 0px 0px 30px 0px;
}

.product-ft-title{
    height: 80px;
    border-top: 1px solid var(--shading2);
    border-bottom: 1px solid var(--shading2);
    text-align: center;
}

.product-ft-title p{
    color: var(--secondary);
    margin-top: 20px;
}




/*----------------Card Product -------------*/
.cardproduct{
    margin:0px;
    padding:0px;
    border: 1px var(--shading2) solid;
    margin-top:30px;
}

.product{
    padding:15px;
}

.product .img-overlay .badge{
    position: absolute;
    top: 15px;
    right: 15px;
}

.product .img-overlay{
    position: relative;
}

.product .img-overlay .overlay-button{
    visibility: hidden;
    opacity: 0;
    transition: all ease .4s;
}

.cardproduct:hover .product .img-overlay .overlay-button{
    visibility: visible;
    opacity: 1;
    transition: all ease .4s;
}

.overlay-button .zoom-button, .overlay-button .heart-button{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1.5px solid var(--shading1);
    text-align: center;
    padding-top: 6.5px;
    color: var(--shading1);
    transition: all ease-out .3s;
    cursor: pointer;
}

.overlay-button .heart-button{
    margin-top: 10px;
}

.overlay-button{
    position: absolute;
    top: 15px;
    left: 15px;
}

.zoom-button:hover, .heart-button:hover{
    background-color: var(--shading1);
    border: 1.5px solid var(--shading1);
    color: var(--secondary);
    transition: all ease-out .3s;
}



.product-name{
    font-family: titlefont;
    font-size: 18px;
    margin-top: 16px;
    margin-bottom: 0px;
    color: var(--secondary);
}

.product-data{
    display: flex;
    justify-content: space-between;
}

.product-type{
    margin-top: 8px;
}

.product-type-name{
    font-family:subfont;
    font-size: 14px;
    color: var(--secondary);
}

/*-------Product-Price ---------*/

.price{
    margin-top: 8px;

}
.product-price-discount{    
    font-family:subfontlight;
    font-size: 14px;
    color: var(--secondary);
    text-decoration-line: line-through; 
}

.product-price{
    font-family:subfont;
    font-size: 14px;
    text-align: right;
    color: var(--secondary);
    padding-left: 4px;
}



/*-------Product-Button ---------*/
.product-button{
    margin:0px;
    padding:0px;
    height:40px;
    border-top: 1px var(--shading2) solid;
}

.btn-addtocart{
    display:block;
    float:left;
    width:50%;
    text-decoration: none;
    border: none;
    text-align: center;
    color: var(--secondary);
    font-family:subfont;
    font-size: 14px;
    padding-top: 10px;
    height: inherit;
    transition: all ease .3s;
}

.btn-buynow{
    display:block;
    float: right;
    width:50%;
    border: none;
    border-left: 1px var(--shading2) solid;
    text-decoration: none;
    text-align: center;
    color: var(--secondary);
    font-family:subfont;
    font-size: 14px;
    height: inherit;
    padding-top: 10px;
    transition: all ease .3s;
}


.btn-fluid-secondary{
    margin-top: 40px;
}

/*---------------------------------------Designer Banner-----------------------------------*/
#designer-banner{
    height: 820px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/designer-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    
}

#designer-banner p{
   color: var(--white);
   text-align: center;
   text-shadow: 1px 1px 20px rgba(46, 46, 46, .5);
}

/*---------------------------------------Designer List-----------------------------------*/

#designer-list-bg{
    background-color: var(--primary);
    padding: 30px 0px 60px 0px;
}

.designer-list-title{
    height: 80px;
    border-top: 1px solid var(--secondary);
    border-bottom: 1px solid var(--secondary);
}

.designer-list-title p{
    color: var(--secondary);
    text-align: center;
    margin-top: 20px;
}

.desginer-name{
    padding: 120px 0px 30px 0px;
}

.designer-row{
    display: flex;
    justify-content: center;
}

.designer-card{
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-right: 30px;
    margin-bottom: 40px;
}

.designer-card p{
    color: var(--secondary);
    opacity: .5;
    position: relative;
}

.designer-card span{
    margin-top: 8px;
    margin-left: 8px;
    width: 80px;
    font-family: subfont;
    font-size: 16px;
    color: var(--shading2);
    opacity: .5;
    transition: all ease .3s;
}

.designer-card p::before{
    content: '';
    background-color: var(--white);
    height: 2px;
    width: 0%;
    position: absolute;
    left: 0px;
    bottom: 10px;
    transition: all ease .4s;
    opacity: 0;
}

.designer-card:hover p{
    color: var(--white);
    opacity: 1;
    transition: all ease .3s;
}

.designer-card:hover span{
    color: var(--secondary);
    opacity: 1;
    transition: all ease .3s;
}

.designer-card:hover p::before{
    width: 100%;
    opacity: 1;
    transition: all ease .7s;
}


.designer-card .designer-img{
    height: 200px;
    width: 200px;
    box-shadow: 1px 1px 20px rgba(235, 230, 215, .3);
    position: absolute;
    top: -100px;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all ease .4s;
    
}

.designer-card .designer-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    filter: grayscale(80%);
    transition: all ease 1s;
}


.designer-card:hover .designer-img{
    left: 20%;
    visibility: visible;
    opacity: 1;
    transition: all ease .4s;
}

.designer-card:hover .designer-img img{
    filter: grayscale(0%);
    transition: all ease 1s;
}

.designer-card .img2 img{
    object-position: bottom center;
}


.row4 .designer-card p{
    z-index: 100;
}

.row4 .designer-card .designer-img{
    z-index: 95;
}

.row3 .designer-card p{
    z-index: 90;
}

.row3 .designer-card .designer-img{
    z-index: 85;
}

.row2 .designer-card p{
    z-index: 80;
}

.row2 .designer-card .designer-img{
    z-index: 75;
}

.row1 .designer-card p{
    z-index: 70;
}

.row1 .designer-card .designer-img{
    z-index: 65;
}

.designer-btn{
    text-align: center;
}





/*---------------------Designer List Mobile---------------------*/
#designer-list-mb{
    height: 700px;
}

.owl-carousel .owl-stage-outer{
    overflow: visible !important;
}

.card-down{
    position: relative;
    top: 80px;
}

.designer-mb-card{
    width: 250px;
    position: relative;
    padding: 60px 0px;
    margin-left: 60px;
}

.designer-img-mb{
    width: 250px;
    height: 375px;
    transform: rotate(-5deg);
}

.designer-img-mb img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 2px 2px 5px rgba(46, 46, 46, 1);
}

.designer-info-mb p{
    color: var(--white);
    white-space: nowrap;
    margin-bottom: 0px;
    position: absolute;
    bottom: 25%;
    left: -20%;
    transform: rotate(5deg);
}

.designer-info-mb span{
    font-family: subfont;
    font-size: 18px;
    color: var(--secondary);
    position: absolute;
    bottom: 20%;
    left: 15%;
    transform: rotate(5deg);
}

.designer-mb-bottom{
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.designer-mb-bottom h5{
    color: var(--white);
}

.designer-mb-bottom p{
    color: var(--secondary);
    font-size: 16px;
    margin-bottom: 0px;
}































/*---------------------Support Section---------------------*/
.support-section{
    margin-top: 30px;
    margin-bottom: 40px;
    height: 80px;
    border-top: 1px solid var(--shading2);
    border-bottom: 1px solid var(--shading2);
    overflow: hidden;
}


.support-title{
    height: inherit;
    overflow: hidden;
}

.sp-title-left{
    height: 80px;
    border-right: 1px solid var(--shading2);
}

.sp-title-right{
    height: inherit;
    text-align: right;
    margin-top: 30px;
}

.sp-title-left p{
    color: var(--dark);
    margin-top: 20px;
}

.sp-title-right a{
    text-decoration: none;
    color: var(--primary);
    font-family: subfont;
    margin-top: 10px;
    font-size: 18px;
    position: relative;
}

.sp-title-right a::before{
    content: '';
    background-color: var(--primary);
    height: 2px;
    width: 0%;
    position: absolute;
    bottom: -5px;
    left: 0px;
    transition: all ease .8s;
}

.sp-table{
    padding: 30px 0px;
}

.sp-table-border{
    border-bottom: 1px solid var(--shading2);
}

.sp-list{
    display: flex;
    align-items: flex-start;
}

.sp-list a{
    display: block;
    color: var(--dark);
}

.sp-list a:hover{
    text-decoration: none;
    transition: all ease .3s;
}

.sp-content p{
    color: var(--dark);
    margin-bottom: 0px;
}

.sp-arrow a{
    display: block;
    float: right;
    font-size: 32px;
    color: var(--dark);
    transition: all ease .3s;
}

/*----------------------------Blog Feature Desktop---------------------------*/

.blog-ft{
    margin-top: 30px;
    background-color: var(--primary);
    padding: 30px 0px 0px 0px;
}

.blog-ft-header{
    height: 80px;
    border-bottom: 1px solid var(--shading2);
    border-top: 1px solid var(--shading2);
}

.blog-ft-header p{
    color: var(--secondary);
    text-align: center;
    padding-top: 20px;
}

.blog-ft-pc{
    padding: 0px;
    height: 700px;
    display: flex;
}

.left-part, .right-part{
    width: 50%;
}

.left-part{
    height: inherit;
    display: flex;
}

.left-part .left-title{
    height: inherit;
    width: 80px;
    white-space: nowrap;
    display: flex;
    align-items: end;
    border-right: 1px solid var(--shading2);
}

.left-part .left-title p{
    color: var(--secondary);
    transform: rotate(-90deg) translate(90px, -65px);
}

.left-part .left-text{
    width: 100%;
}

.left-part .top-left{
    padding-top: 8px;
    padding-left: 30px;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid var(--shading2);
}

.left-part .top-left p{
    font-family: subfont;
    color: var(--secondary);
    text-transform: uppercase;
}

.bottom-left{
    height: 650px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bottom-left .blog-ft-title{
    width: 80%;
}


.bottom-left .blog-ft-title h1{
    color: var(--secondary);
}

.bottom-left .blog-ft-content{
    width: 80%;
}

.bottom-left .blog-ft-content p{
    color: var(--white);
    margin-bottom: 24px;
}

.right-part{
    border-left: 1px solid var(--shading2);
    height: 100%;
}


.right-part .top-right{
    text-align: right;
    padding-top: 8px;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid var(--shading2);
}

.right-part .top-right p{
    font-family: subfont;
    color: var(--secondary);
    text-transform: uppercase;
    font-size: 16px;
}

.bottom-right{
    height: 660px;
    width: 100%;
    padding: 30px;
}

.bottom-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/*----------------------------Blog Feature Mobile---------------------------*/
.blog-ft-mb{
    padding: 0px 0px 30px 0px;
}


.blog-ft-header-mb{
    height: 80px;
    border-top: 1px solid var(--shading2);
}

.blog-ft-header-mb p{
    color: var(--secondary);
    text-align: center;
    padding-top: 20px;
}


.blog-ft-mb .top-part{
    overflow: hidden;
    height: 40px;
    border-top: 1px solid var(--shading2);
    border-bottom: 1px solid var(--shading2);
}

.top-part .top-left-mb{
    width: 50%;
    border-right: 1px solid var(--shading2);
}

.top-part .top-left-mb p{
    margin-top: 8px;
    font-family: subfont;
    color: var(--secondary);
    text-transform: uppercase;
}

.top-part .top-right-mb p{
    margin-top: 8px;
    font-family: subfont;
    color: var(--secondary);
    text-transform: uppercase;
    text-align: right;
}

.img-ft-mb{
    padding: 30px 0px;
    height: 400px;
}

.img-ft-mb img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.blog-ft-content-mb h1{
    color: var(--secondary);
    margin-bottom: 0px;
}

.blog-ft-content-mb p{
    color: var(--white);
    margin-top: 20px;
    margin-bottom: 32px;
}

.blog-ft .btn-fluid-secondary{
    margin-top: 0px;
}

.blog-ft .btn-fluid-secondary a{
    padding-top: 18px;
}






/*-----------------------------------MEDIA QUERY-------------------------------*/

/*---------------------Extra Large---------------------*/
@media (min-width: 1200px) {
    .about-title{
        width: 45%;
    }

    .about-content{
        width: 45%;
    }

    .about-img-01{
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -10;
        width: 350px;
        height: 260px;
    }
    
    .about-img-01 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    
    .about-img-02{
        position: absolute;
        top: 7%;
        left: 15%;
        z-index: -9;
        width: 255px;
        height: 240px;
    }
    
    .about-img-02 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .about-img-03{
        position: absolute;
        top: 12%;
        right: 12%;
        z-index: -8;
        width: 255px;
        height: 205px;
    }
    
    .about-img-03 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .about-img-04{
        position: absolute;
        top: 65%;
        left: 0%;
        transform: translateY(-50%);
        z-index: -7;
        width: 515px;
        height: 375px;
    }
    
    .about-img-04 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .about-img-05{
        position: absolute;
        top: 60%;
        right: 0px;
        transform: translateY(-50%);
        z-index: -6;
        width: 275px;
        height: 335px;
    }
    
    .about-img-05 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .about-img-06{
        position: absolute;
        bottom:0px;
        left: 50%;
        transform: translateX(-25%);
        z-index: -6;
        width: 445px;
        height: 315px;
    }
    
    .about-img-06 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .product-category{
        height: 800px;
        display: flex;
    }

    .btn-addtocart:hover{
        text-decoration: none;
        color: var(--primary);
        background-color: var(--secondary);
        transition: all ease .3s;
    }
    
    .btn-buynow:hover{
        text-decoration: none;
        color: var(--primary);
        background-color: var(--secondary);
        transition: all ease .3s;
    }

    .sp-title-right a:hover::before{
        width: 100%;
    }

    .sp-question p{
        font-family: titlefont;
        font-size: 32px;
        color: var(--primary);
        margin-bottom: 10px;
    }

    .sp-arrow a:hover{
        color: var(--primary);
        font-size: 40px;
        transition: all ease .3s;
    }

    .sp-list h5{
        color: var(--dark);
        margin-right: 65px;
    }

    .sp-list a:hover{
        color: var(--primary);
        transition: all ease .3s;
    }

}



/*-----------------------Large-------------------------*/
@media (max-width: 1199px) and (min-width: 992px) {
    .hero-banner p{
        font-size: 67.5px;
    }

    .about-title{
        width: 60%;
    }

    .about-content{
        width: 60%;
    }

    .about-img-01{
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -10;
        width: 320px;
        height: 235px;
    }
    
    .about-img-01 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    
    .about-img-02{
        position: absolute;
        top: 15%;
        left: 8%;
        z-index: -9;
        width: 230px;
        height: 215px;
    }
    
    .about-img-02 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .about-img-03{
        position: absolute;
        top: 12%;
        right: 5%;
        z-index: -8;
        width: 235px;
        height: 180px;
    }
    
    .about-img-03 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .about-img-04{
        position: absolute;
        top: 65%;
        left: 0%;
        transform: translateY(-50%);
        z-index: -7;
        width: 365px;
        height: 265px;
    }
    
    .about-img-04 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .about-img-05{
        position: absolute;
        top: 60%;
        right: 0px;
        transform: translateY(-50%);
        z-index: -6;
        width: 225px;
        height: 275px;
    }
    
    .about-img-05 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .about-img-06{
        position: absolute;
        bottom:0px;
        left: 50%;
        transform: translateX(-25%);
        z-index: -6;
        width: 300px;
        height: 205px;
    }
    
    .about-img-06 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .product-category{
        height: 700px;
        display: flex;
    }

    .left-content .content-info{
        width: 90%;
    }


    .btn-addtocart:hover{
        text-decoration: none;
        color: var(--primary);
        background-color: var(--secondary);
    }
    
    .btn-buynow:hover{
        text-decoration: none;
        color: var(--primary);
        background-color: var(--secondary);
    }

    .designer-card .display2-pc{
        font-size: 67.5px;
    }

    .sp-title-right a:hover::before{
        width: 100%;
    }

    .sp-question p{
        font-family: titlefont;
        font-size: 28px;
        color: var(--primary);
        margin-bottom: 10px;
    }

    .sp-arrow a:hover{
        color: var(--primary);
        font-size: 40px;
        transition: all ease .3s;
    }

    .sp-list h5{
        color: var(--dark);
        margin-right: 65px;
    }

    .sp-list a:hover{
        color: var(--primary);
        transition: all ease .3s;
    }
}


/*-----------------------Medium------------------------*/
@media (max-width: 991px) and (min-width: 768px) {

    .about-title{
        width: 85%;
    }

    .about-content{
        width: 85%;
    }

    .about-img-01{
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -10;
        width: 320px;
        height: 235px;
    }
    
    .about-img-01 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    
    .about-img-02{
        position: absolute;
        top: 15%;
        left: 0;
        z-index: -9;
        width: 182px;
        height: 215px;
    }
    
    .about-img-02 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .about-img-03{
        position: absolute;
        top: 12%;
        right: 0;
        z-index: -8;
        width: 140px;
        height: 190px;
    }
    
    .about-img-03 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .about-img-04{
        position: absolute;
        top: 65%;
        left: 0%;
        transform: translateY(-50%);
        z-index: -7;
        width: 260px;
        height: 265px;
    }
    
    .about-img-04 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .about-img-05{
        position: absolute;
        top: 60%;
        right: 0px;
        transform: translateY(-50%);
        z-index: -6;
        width: 190px;
        height: 260px;
    }
    
    .about-img-05 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .about-img-06{
        position: absolute;
        bottom:0px;
        left: 50%;
        transform: translateX(-25%);
        z-index: -6;
        width: 270px;
        height: 205px;
    }
    
    .about-img-06 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .category-link-mb ul li a{
        position: relative;
        font-size: 18px;
    }

    
    .btn-addtocart:hover{
        text-decoration: none;
        color: var(--secondary);
    }
    
    .btn-buynow:hover{
        text-decoration: none;
        color: var(--secondary);
    }

    #designer-banner{
        height: 700px;
    }

    .sp-question p{
        font-family: titlefont;
        font-size: 20px;
        color: var(--primary);
        margin-bottom: 10px;
    }

    .sp-list h5{
        color: var(--dark);
        margin-right: 30px;
    }


}

/*------------------------Small------------------------*/
@media (max-width: 767px) and (min-width: 576px) {

    .about-etienne{
        height: 900px;
    }

    .about-title{
        width: 90%;
    }

    .about-title p{
        color: var(--dark);
        font-size: 52.5px; 
        text-shadow: 2px 2px 15px var(--secondary);
    }

    .about-content{
        width: 85%;
    }

    .about-img-01{
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -10;
        width: 265px;
        height: 200px;
    }
    
    .about-img-01 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    
    .about-img-02{
        position: absolute;
        top: 15%;
        left: 0;
        z-index: -9;
        width: 100px;
        height: 215px;
    }
    
    .about-img-02 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .about-img-03{
        position: absolute;
        top: 12%;
        right: 0;
        z-index: -8;
        width: 80px;
        height: 190px;
    }
    
    .about-img-03 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .about-img-04{
        position: absolute;
        top: 65%;
        left: 0%;
        transform: translateY(-50%);
        z-index: -7;
        width: 150px;
        height: 265px;
    }
    
    .about-img-04 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .about-img-05{
        position: absolute;
        top: 60%;
        right: 0px;
        transform: translateY(-50%);
        z-index: -6;
        width: 120px;
        height: 205px;
    }
    
    .about-img-05 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .about-img-06{
        position: absolute;
        bottom:0px;
        left: 30%;
        z-index: -6;
        width: 270px;
        height: 205px;
    }
    
    .about-img-06 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .product-ft-title p{
        font-size: 40.5px;
    }

    
    .btn-addtocart:hover{
        text-decoration: none;
        color: var(--secondary);
    }
    
    .btn-buynow:hover{
        text-decoration: none;
        color: var(--secondary);
    }

    #designer-banner{
        height: 700px;
        background-position: 60%;
    }

    .sp-list h5{
        color: var(--dark);
        margin-right: 40px;
    }
}

/*---------------------Extra Small---------------------*/
@media (max-width: 575px) {

    .hero-banner p{
        font-size: 67.5px;
    }


    .about-etienne{
        height: 900px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .about-title p{
        color: var(--dark);
        font-size: 52.5px; 
        text-shadow: 2px 2px 15px var(--secondary);
    }

    .about-content{
        width: 90%;
    }



    .about-img-01{
        position: absolute;
        top: 0px;
        left: 52%;
        transform: translateX(-50%);
        z-index: -10;
        width: 265px;
        height: 200px;
    }
    
    .about-img-01 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    
    .about-img-02{
        position: absolute;
        top: 15%;
        left: 0;
        z-index: -9;
        width: 100px;
        height: 215px;
    }
    
    .about-img-02 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .about-img-03{
        position: absolute;
        top: 12%;
        right: 0;
        z-index: -8;
        width: 80px;
        height: 190px;
    }
    
    .about-img-03 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .about-img-04{
        position: absolute;
        top: 65%;
        left: 0%;
        transform: translateY(-50%);
        z-index: -7;
        width: 150px;
        height: 265px;
    }
    
    .about-img-04 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .about-img-05{
        position: absolute;
        top: 60%;
        right: 0px;
        transform: translateY(-50%);
        z-index: -6;
        width: 120px;
        height: 205px;
    }
    
    .about-img-05 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .about-img-06{
        position: absolute;
        bottom: 4%;
        left: 40%;
        z-index: -6;
        width: 200px;
        height: 180px;
    }
    
    .about-img-06 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .category-section-mb .category-title p{
        margin-top: 20px;
        font-size: 40.5px;
    }

    .category-section-mb{
        margin-top: 30px;
        padding: 0;
    }

    .upper-left-mb{
        padding-left: 0px;
    }

    .upper-right-mb{
        padding-right: 0px;
    }


    .product-ft-title p{
        font-size: 40.5px;
    }

    
    .btn-addtocart:hover{
        text-decoration: none;
        color: var(--secondary);
    }
    
    .btn-buynow:hover{
        text-decoration: none;
        color: var(--secondary);
    }

    #designer-banner{
        height: 700px;
        background-position: 60%;
    }

    .sp-title-left{
        padding: 0;
    }

    .sp-title-right{
        padding: 0;
    }

    .sp-list h5{
        color: var(--dark);
        margin-right: 30px;
    }

    .blog-ft-header-mb p{
        font-size: 40.5px;
    }

    .designer-mb-bottom-text{
        width: 50%;
    }

    .designer-mb-bottom-button{
        padding-top: 24px;
    }

}