@charset "utf-8";
/* CSS Document */


/* --------------------HERO BANNER --------------------*/
.hero-banner{
    position:relative;
    top: -80px;
    height: 100vh;
    background-image: url(../img/Home-Banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    display: flex;
    align-items: center;
    z-index: 1;
}

.hero-banner p{
    color: var(--white);
    text-align: center;
    margin-bottom: 30px;
}

.hero-banner a{
    padding-left: 43px;
    padding-right: 43px;
}

/* --------------------ABOUT SECTION --------------------*/
.about-etienne{
    height: 900px;
    display: flex;
    align-items: center;
}

.about-info{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-title{
    margin-bottom: 0px;
}






























/*-----------------------------------MEDIA QUERY-------------------------------*/

/*---------------------Extra Large---------------------*/
@media (min-width: 1200px) {
    .about-title{
        width: 45%;
    }

    .about-content{
        width: 45%;
    }
}



/*-----------------------Large-------------------------*/
@media (max-width: 1199px) and (min-width: 992px) {
    .hero-banner p{
        font-size: 67.5px;
    }

    .about-title{
        width: 60%;
    }

    .about-content{
        width: 60%;
    }
}


/*-----------------------Medium------------------------*/
@media (max-width: 991px) and (min-width: 768px) {

    .about-title{
        width: 85%;
    }

    .about-content{
        width: 85%;
    }

}

/*------------------------Small------------------------*/
@media (max-width: 767px) and (min-width: 576px) {

    .about-title{
        width: 90%;
    }

    .about-title p{
        font-size: 52.5px;
    }

    .about-content{
        width: 85%;
    }
}

/*---------------------Extra Small---------------------*/
@media (max-width: 575px) {

    .about-title p{
        font-size: 52.5px;
    }

    .about-content{
        width: 90%;
    }

    .hero-banner p{
        font-size: 67.5px;
    }
}