/* ------------------Breadcrumb------------------------------------- */
.breadcrumbb-bg{
    height: 40px;
    border-bottom: var(--shading2) 1px solid;
    padding-top: 8px;
}

/* ------------------Jobpost Title------------------------------------- */
.jobpost-title{
    padding: 30px 0px 16px 0px;
}


/* -----------------Metadata -------------------------------------- */
.blog-metadata{
    
    height: 80px;
    border-top: 1px solid var(--shading2);
    border-bottom: 1px solid var(--shading2);
}

.metadata .meta h5{
    font-family: subfont;
    color: var(--dark);
    font-size: 16px;
    margin-bottom: 4px;
    text-transform: uppercase;
}

.metadata .meta p{
    margin-bottom: 0px;
    color: var(--primary);
}

.metadata{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.blog-media ul{
    padding: 0px;
    margin: 0px;
    display: flex;
    list-style-type: none;
}
.blog-media ul li{
    margin-left: 16px;
    
}
.blog-media ul li a{
    font-family: subfont;
    font-size: 16px;
    text-decoration: none;
    color: var(--shading1);
    height: 80px;    
}

.blog-media ul li a:hover{
    color: var(--primary);
}

.blog-media ul li a::after{
    content: '';
    height: 1.5px;
    width: 0%;
    background-color: var(--primary);
    display: block;
    transition: all ease .5s;
}

.blog-media ul li a:hover::after{
    width: 100%;
    transition: all ease .5s;
}
 

.blog-media{
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: flex-end;
}

/* -----------------JD Content------------------- */

.jobpost-content{
    padding-top: 30px;
    padding-bottom: 30px;
}

.jobpost-content h1, .jobpost-content h2{
    color: var(--primary);
    margin-bottom: 24px;
}

.jobpost-content ul{
    list-style-type: square;
    margin-bottom: 30px;
}

.jobpost-content ul li{
    margin-bottom: 16px;
}



/*-----------------------------------ADD A COMMENT-------------------------------*/
.add-comment{
    padding: 0px;
    border-top: 1px solid var(--shading2);
}

.add-comment-title-left{
    height: 80px;
    border-right: 1px solid var(--shading2);
}


.add-comment-title-right{
    height: 80px;
}

.add-comment-title-left p{
    margin-top: 20px;
}

.add-comment-title-right h4{
    margin-top: 24px;
    text-align: right;
}

.disclaimer{
    height: 40px;
    border-top: 1px solid var(--shading2);
    border-bottom: 1px solid var(--shading2);
}

.disclaimer p{
    margin-top: 8px;
    font-size: 14px;
    color: var(--shading1);
}


  /*-----------------------------------Add review-------------------------------*/
.add-review{
    padding-top: 30px;
    padding-bottom: 60px;
}

.add-review input{
    padding: 16px;
    width: 100%;
    height: 40px;
    border: 1px solid var(--shading2);
    background-color: transparent;
    border-radius: 4px;
    color: var(--primary);
    transition: all ease .3s;
}

.add-review input:hover{
    background-color: rgba(161, 162, 133, .15);
    border: 1px solid var(--shading2);
    transition: all ease .3s;
}

.add-review input:active, .add-review input:focus, .add-review input:focus-visible{
    border: 2px solid var(--shading2);
    outline: none;
}

.add-review input::placeholder{
    color: var(--shading1);
}


.submit-review-btn{
    margin-top: 40px;
}



/*-------- Rating Star------- */
.rating-stars ul {
    list-style-type:none;
    padding:0;
  }

  .rating-stars ul > li.star {
    display: inline-block;
    
  }
  
  .rating-stars ul > li.star > i.fa {
    font-size: 24px; 
    color: var(--disable);
  }
  

  .rating-stars ul > li.star.hover > i.fa {
    color: var(--shading2);
  }
  
  .rating-stars ul > li.star.selected > i.fa {
    color: var(--primary);
  }

.review-form--label{
    margin-bottom: 30px;
}

.review-form--label p{
    font-family: subfont;
    color: var(--primary);
    margin-bottom: 8px;
}

.review-form--label textarea{
    width: 100%;
    padding: 16px;
    border-radius: 4px;
    background-color: transparent;
    border: 1px solid var(--shading2);
    color: var(--primary);
}

.review-form--label textarea:hover{
    background-color: rgba(161, 162, 133, .15);
    border: 1px solid var(--shading2);
    transition: all ease .3s;
}

.review-form--label textarea::placeholder{
    color: var(--shading2);
}


.review-form--label textarea:active, .review-form--label textarea:focus, .review-form--label textarea:focus-visible, .review-form--label textarea:focus-within{
    border: 2px solid var(--shading2);
    outline: none;
}

.review-content .review-form--label textarea{
    position: relative;
    padding-top: 40px;
}

#the-count{
    float: right;
    color: #999999;
    font-size: 14px;
    margin-top: 10px;
}

.review-content .review-form--label p.inside-textarea{
    position: absolute;
    font-family: bodyfont;
    color: var(--shading1);
}

.review-content .review-form--label p.inside-textarea a{
    font-family: subfont;
    text-decoration: none;
    color: var(--primary);
}

.review-content .button-secondary{
    margin-top: 25px;
}






/*---------------------MEDIA QUERY-------------------------------*/

/*---------------------Extra Large---------------------*/
@media (min-width: 1200px) {


}




/*-----------------------Large-------------------------*/
@media (max-width: 1199px) and (min-width: 992px) {



}


/*-----------------------Medium------------------------*/
@media (max-width: 991px) and (min-width: 768px) {
    /* -----------------Metadata MD------------------------- */
    .blog-metadata-md{
        
        height: 80px;
        border-top: 1px solid var(--shading2);
        border-bottom: 1px solid var(--shading2);
    }

    .metadata-md .meta h5{
        font-family: subfont;
        color: var(--dark);
        font-size: 16px;
        margin-bottom: 4px;
        text-transform: uppercase;
    }

    .metadata-md .meta p{
        margin-bottom: 0px;
        color: var(--primary);
    }

    .metadata-md{
        padding-right: 30px;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .blog-media-md{
        display: flex;
        align-items: center;
        height: 80px;
        justify-content: flex-end;
        
    }
    .icon-blog{
        background-color: var(--primary);
        margin-left: 10px;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;  
    }
    .icon-blog i{
        font-size: 20px;
        color: var(--white);
    }

    .add-comment-title-right h4{
        font-size: 20px !important;
        white-space: nowrap;
    }

}



/*------------------------Small------------------------*/
@media (max-width: 767px) and (min-width: 576px) {

    .breadcrumbb{
        font-size: 14px;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .jobpost-title p{
        font-size: 52.5px;
        line-height: 52px;
    }

    .blog-media{
        visibility: hidden;
        opacity: 0;
    }

    .jobpost-content{
        padding-bottom: 16px;
    }

    /* -----Media SM and XS---------------------- */
    #blogdetail-media-sm-xs{
        margin-top: 30px;
    }
    .media-sm-xs{
        font-family: subfont;
        font-size: 16px;
        height: 40px;
        color: var(--dark);
        padding-top: 10px;
        text-align: center;
    }

    .blog-media-sm-xs{
        
        display: flex;
        justify-content: space-between;
    }
    .icon-blog{
        color: var(--white);
        background-color: var(--primary);
        width: 40px;
        height: 40px;
        display: block;
        float: right;
        font-size: 20px;
        border-radius: 50%;
        text-align: center
    }
    .icon-blog i{
        margin-top: 10px;
        color: var(--white);
    }

    .add-comment{
        margin-top: 30px;
    }

    .add-comment-title-left-mb{
        height: 80px;
    }

    .add-comment-title-left-mb p{
        margin-top: 20px;
    }
    
    input::placeholder{
        font-size: 16px;
    }

    textarea::placeholder{
        font-size: 16px;
    }
}


/*---------------------Extra Small---------------------*/
@media (max-width: 575px) {
    .breadcrumbb{
        display: block;
        font-size: 14px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .jobpost-title{
        padding: 20px 30px 0px 30px;
    }

    .jobpost-title p{
        font-size: 40.5px;
        line-height: 41px;
    }

    .blog-media{
        visibility: hidden;
        opacity: 0;
    }

    .jobpost-content{
        padding-bottom: 16px;
    }

    /* -----Media SM and XS---------------------- */
    #blogdetail-media-sm-xs{
        margin-top: 30px;
    }
    .media-sm-xs{
        font-family: subfont;
        font-size: 16px;
        height: 40px;
        color: var(--dark);
        padding-top: 10px;
        text-align: center;
    }

    .blog-media-sm-xs{
        display: flex;
        justify-content: space-between;
    }
    .icon-blog{
        color: var(--white);
        background-color: var(--primary);
        width: 40px;
        height: 40px;
        display: block;
        float: right;
        font-size: 20px;
        border-radius: 50%;
        text-align: center
    }
    .icon-blog i{
        margin-top: 10px;
        color: var(--white);
    }

    .add-comment{
        margin-top: 30px;
    }

    .add-comment-title-left-mb{
        height: 80px;
    }

    .add-comment-title-left-mb p{
        margin-top: 20px;
        font-size: 40.5px;
    }

    .disclaimer{
        padding-left: 0;
    }


    input::placeholder{
        font-size: 16px;
    }

    textarea::placeholder{
        font-size: 16px;
    }


}