body{
    background-color: #ebe6d7;
}
/*----------------------------Color Guide ---------------------------*/
:root{
    --primary: #616432;
    --secondary: #EBE6D7;
    --shading1: #81835C;
    --shading2: #A1A285;
    --shading3: #E0E0D6;
    --white: #ffffff;
    --dark: #2E2E2E;
    --text: #717171;
    --disable: #B8BEC5;
    --danger: #FF5A4F;
    --success: #84DFC1;
    --warning: #FFD596;
}



/* --------------WARRANTY-title ------------------------- */
#warranty-title p{
    text-align: center;
    margin-bottom: 0px;
    

}
#warranty-title{
    padding-top: 20px;
    height: 80px;
}


/* ------------------Breadcrumb------------------------------------ */
.breadcrumbb-bg{
    height: 40px;
    border-bottom: var(--shading2) 1px solid;
    border-top: var(--shading2) 1px solid;
    padding-top: 8px;
    
}



/* -----------link-contact ---------- */
#contact-join-us{
    background-image: url(../img/link-contact-us.jpg);
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 40px;
    display: flex;
    align-items: center;
    
}
.contact-careers{
    margin-bottom: 0px;
    color: var(--secondary);
}
.title-join-us{
    color: var(--white);
    margin-bottom: 0px;
    margin-top: 16px;
}



/* -----------------PAYMENT--------------------- */
.payment-content p{
    font-family: bodyfont;
    font-size: 16px;
}
.payment-content h4{
    margin-bottom: 0px;
    color: var(--primary);
    
}
.furniture-finance{
    margin-top: 48px;
}
.furniture-finance p{
    font-family: bodyfont;
    font-size: 16px;
    margin-bottom: 0px;
    margin-top: 30px;
}

.payment-no{
    display: inline-block;
    font-family: subfont;
    color: var(--dark);
    font-size: 20px;
    margin: 16px 0px;
}

.payment-option{
    position: relative;
    top: 4px;
    left: 8px;
}


/* -------------------------- */
.payment-content h3{
    margin-bottom: 16px;
    
}
.line{
    background-color: var(--shading2);
    margin: 0px;
}
.payment-content-small p{
    margin-bottom: 0px;
    margin-top: 16px;
}
.payment-content-small{
    margin-top: 40px;
}
.payment-content-small h4{
    color: var(--dark);
}

.payment-content-small h1{
    margin-bottom: 0px;
    padding: 0px;
    
}

.size-number-top{
    margin-bottom: 4px;
}

.payment-content-small .size-title{
    font-family: titlefont !important;
    font-size: 40px;
    
}
.space-123 {
    margin-top: 16px;
}




/*---------------------Extra Large---------------------*/
@media (min-width: 1200px) {

    #contact-join-us{
        background-image: url(../img/contact-us/link-contact-us.jpg);
        height: 550px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        margin-top: 30px;
    }
    
    .contact-careers{
        margin-bottom: 0px;
        color: var(--white);
    }
    
    .title-join-us{
        color: var(--white);
        margin-bottom: 0px;
        margin-top: 16px;
    }
    
    
    .button-join-us{
        text-align: right;
        margin-top: 90px;
    }
    
    
}



/*-----------------------Large-------------------------*/
@media (max-width: 1199px) and (min-width: 992px) {

      /* -----------Link Contact ---------- */
      #contact-join-us{
        background-image: url(../img/contact-us/link-contact-us.jpg);
        height: 550px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        
    }
    .contact-careers{
        margin-bottom: 0px;
        color: var(--white);
    }
    .title-join-us{
        color: var(--white);
        margin-bottom: 0px;
        margin-top: 16px;
    }

    .title-join-us p.display3-pc{
        white-space: nowrap;
    }

    .button-join-us{
        text-align: right;
        margin-top: 64px;
    }
    
    
}




/*-----------------------Medium------------------------*/
@media (max-width: 991px) and (min-width: 768px) {

         /* -----------Link Contact ---------- */
         #contact-join-us{
            background-image: url(../img/contact-us/link-contact-us.jpg);
            height: 450px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            display: flex;
            align-items: center;
            
        }
        .contact-careers{
            margin-bottom: 0px;
            color: var(--white);
        }
        .title-join-us{
            color: var(--white);
            margin-bottom: 0px;
            margin-top: 16px;
        }
    
    
    
    
        .button-join-us{
            margin-top: 30px;
        }
    
    /* ------------------ */
    .furniture-finance{
        margin-top: 40px;
    }
    .payment-content-small h3{
        font-size: 20px !important;
    }
    .payment-content-small h1{
        font-size: 24px !important;
        margin-bottom: 0px;
    }


    /* ------------------------- */
    .payment-content-small .size-title{
        font-family: titlefont !important;
        font-size: 24px;
        
    }
    .space-123 {
        margin-top: 8px;
    }
}




/*------------------------Small------------------------*/
@media (max-width: 767px) and (min-width: 576px) {

    /* -----------Link Contact ---------- */
    #contact-join-us{
        background-image: url(../img/contact-us/link-contact-us.jpg);
        height: 550px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        
    }
    .contact-careers{
        margin-bottom: 0px;
        color: var(--white);
    }
    .title-join-us{
        color: var(--white);
        margin-bottom: 0px;
        margin-top: 16px;
    }

    .button-join-us{
        margin-top: 30px;
    }
    /* ------------------ */
    .furniture-finance{
        margin-top: 40px;
    }
    .payment-content-small{
        margin-top: 30px;
    }
    .payment-content-small h3{
        font-size: 20px !important;
    }
    .payment-content-small h1{
        font-size: 24px !important;
        margin-bottom: 0px;
    }



    
    /* ------------------------- */
    .payment-content-small .size-title{
        font-family: titlefont !important;
        font-size: 24px;
        
    }
    .space-123 {
        margin-top: 8px;
    }
   
    
}




/*---------------------Extra Small---------------------*/
@media (max-width: 575px) {

    /* --------------warranty-title------------------------- */  
    #warranty-title{
        padding-top: 25px;
        height: 80px;
    }
    /* -----------Link Contact ---------- */
    #contact-join-us{
        background-image: url(../img/contact-us/link-contact-us.jpg);
        height: 550px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        
    }
    .contact-careers{
        margin-bottom: 0px;
        color: var(--white);
    }
    .title-join-us{
        color: var(--white);
        margin-bottom: 0px;
        margin-top: 16px;
    }


    .button-join-us{
        margin-top: 30px;
    }


   /* ------------------ */
   .furniture-finance{
    margin-top: 40px;
   }
   .payment-content-small{
    margin-top: 30px;
    }
    .payment-content-small h3{
        font-size: 20px !important;
    }
    .payment-content-small h1{
        font-size: 24px !important;
        margin-bottom: 0px;
    }
        



    
    /* ------------------------- */
    .payment-content-small .size-title{
        font-family: titlefont !important;
        font-size: 24px;
        
    }
    .space-123 {
        margin-top: 8px;
    }

    
}