@charset "utf-8";
/* CSS Document */

/* ----------------------------Breadcrumb-------------------------*/
.breadcrumbb-bg{
    height: 40px;
    border-bottom: 1px solid var(--shading2);
    display: flex;
    align-items: center;
}


/*---------------------Detail Desktop---------------------*/
.product-detail-desktop{
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

.product-detail-desktop .detail-left{
    padding-top: 30px;
    padding-right: 30px;
    height: 780px;
    
}

.product-detail-desktop .detail-right{
    height: 780px;
    border-left: 1px solid var(--shading2);
}

.detail-left .product-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detail-left .product-thumbnail{
    height: 125px;
}

.product-detail-desktop::after{
    content: '';
    display: block;
    height: 1px;
    width: 50%;
    background-color: var(--shading2);
    position: absolute;
    left: 0;
    bottom: 125px;
}




  /*-----------------------------------MEDIA QUERY-------------------------------*/

/*---------------------Extra Large---------------------*/
@media (min-width: 1200px) {



}


/*-----------------------Large-------------------------*/
@media (max-width: 1199px) and (min-width: 992px) {




}

/*-----------------------Medium------------------------*/
@media (max-width: 991px) and (min-width: 768px) {



}


/*------------------------Small------------------------*/
@media (max-width: 767px) and (min-width: 576px) {



}


/*---------------------Extra Small---------------------*/
@media (max-width: 575px) {



}