

/*----------------------------Story ---------------------------*/

.main-section{
    padding: 0px;
    background-color: var(--primary);
    height: 900px;
    display: flex;
}

.left-section{
    height:inherit;
    width: 50%;
    outline: 1px red solid;
    display: flex;
}

.right-section{
    height:inherit;
    width: 50%;
    outline: 1px red solid;
}

.left-title{
    height: inherit;
    width: 10%;
    outline: 1px blue solid;
    display: flex;
    align-items: end;
}

.left-title p{
    color: var(--secondary);

}

.left-content{
    height: inherit;
    width: 90%;
    outline: 1px blue solid;
}

.right-section{
    padding: 30px 0px;
}

.upper-section{
    height: 40px;
    border-top: 1px solid var(--shading2);
    border-bottom: 1px solid var(--shading2);
    display: flex;
    overflow: hidden;
}

.upper-left{
    width: 50%;
    height: inherit;
    border-right: 1px solid var(--shading2);
}

.img-section{
    padding: 30px;
    height: 670px;
    border-bottom: 1px solid var(--shading2);
}

.main-img{
    background-color: var(--secondary);
    width: 100%;
    height: 100%;
}

.data-section{
    height: 40px;
    border-bottom: 1px solid var(--shading2);
}